<p>First of all, thank you for even considering donating to Concrete Jungle &#8212; we are entirely volunteer-run and our expenses are things that contribute directly to hungry people getting fresh food: IKEA bags for hauling apples and pears, farm tools, drip irrigation supplies, irrigation bills, etc. </p>
<p>We operate on a very small budget and are efficient with the resources we have. In 2013 Concrete Jungle:
<ul>
<li>Donated over 4,700 lbs of fresh produce (more fruit and more trees than in any previous year)</li>
<li>Greatly improved our farm that we started in 2012, and produced 400+ lbs of fruit at greatly reduced effort on our part.
</ul>
</p>
<p>We are growing in many fun directions and have several new projects planned for 2014 to connect Atlantans with the bounty that surrounds them in new and fun ways. We would be very grateful to receive your donation towards making those projects a reality.</p>
<p>
We have also recently formed a relationship with <a href="http://www.georgiaorganics.org">Georgia Organics</a> where they will be acting as fiscal agent for Concrete Jungle. If you are interested in making a <strong>tax-deductible donation</strong> to Concrete Jungle, it will need to be done through them. Please <a href="mailto:info@concrete-jungle.org">get in touch</a> and we can assist you.
</p>
<p>Thank you!<br />
Craig Durkin<br />
Plant Manager, Concrete Jungle</p>
<hr>
<%= render partial: "checkout" %>
