<%= render partial: 'pages/header' %>

<div class="row rowpadding">
  <div class="container">
    <div class="col-md-8 content shadow">
      <h2>Donate to Concrete Jungle</h2>
      <div class="post" id="post-cjdonate">
        <div class="entry">
          <%= render partial: "pages/blurb" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear whitespace"> </div>
<div id="footer">
<p />
&#169;2014 Concrete Jungle <img class="centered" src="http://www.concrete-jungle.org/wp-content/themes/green-apples/images/email.png" alt="" />
</div>

</body>
</html>
